{% extends 'base.html' %}
{% load static %}

{% block title %}Sign In - Mo bros{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/sign-in.css' %}">{% endblock %}


{% block content %}
<!-- Sign In page-->
<section class="signin_page">
    <div class="signin_area">
            <img class="logo" src="https://cdn.gradko.ovh/mobro/media/logo.png" alt="Moustache Image" title="Image of Moustache">
            <h3>Unleash the Power of Wellness -</h3>
            <h3>Where Moustaches Meet Mindfulness!</h3>
            <h2>Sign In</h2>
            <section class="signin_inputs">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                    </div>
                    <button type="submit">Sign In</button>
                </form>
            </section>
            {% if messages %}
            <div>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
    </div>
</section>

{% endblock %}