{% extends "base.html" %}
{% load static %}

{% block title %}Home - Mo bros{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}



{% block content %}
    <div class="container">
        <img class="logo" src="https://cdn.gradko.ovh/mobro/media/logo.png" alt="the main logo">
{#        Grid for the users#}
        <div class="about-container">
            <div class="grid-container">
            {#Craig#}
                <div class="person-section">
                    <img src="https://cdn.gradko.ovh/mobro/media/person/craig.png" alt="Avatar" width="50">
                    <div class="text-box">
                        <p>Creating merging conflicts</p>
                    </div>

                </div>
            {# Alex #}
                <div class="person-section">
                    <img src="https://cdn.gradko.ovh/mobro/media/person/alex.png" alt="Avatar" width="50">
                    <div class="text-box">
                    <p>Fixing merging conlficts</p>
                    </div>
                </div>
                {#Max#}
                <div class="person-section">
                    <img src="https://cdn.gradko.ovh/mobro/media/person/max.png" alt="Avatar" width="50">
                    <div class="text-box">
                    <p>This one don't know what he is doing</p>
                    </div>
                </div>
                {#Nick #}
                <div class="person-section">
                    <img src="https://cdn.gradko.ovh/mobro/media/person/nick.png" alt="Avatar" width="50">
                    <div class="text-box">
                    <p>The GURU</p>
                    </div>
                </div>
{#                Shane#}
                <div class="person-section">
                    <img src="https://cdn.gradko.ovh/mobro/media/person/shane.png" alt="Avatar" width="50">
                    <div class="text-box">
                        <p>The SCAM master</p>
                    </div>
                </div>
                {# Stef#}
                <div class="person-section">
                    <img src="https://cdn.gradko.ovh/mobro/media/person/stef.png" alt="Avatar" width="50">
                    <div class="text-box">
                    <p>It works on my machine!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}