{% extends "base.html" %}
{% load static %}

{% block title %}Home - Mo bros{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}



{% block content %}
<div class="container">
    <img class="logo" src="{% static 'images/logo.png' %}" alt="the main logo">

    <div class="header-container">
        <h1 class="header-top">Your <span class="text-highlight">Brotherhood</span></h1>
        <h1 class="header header-bottom"> For Better Mental Health</h1>
        <h2 class="subheader">Start your journey towards a healthier, happier you today.</h2>
    </div>

    <div class="btn-container">
        <a class="btn btn-purple" href="">Sign Up</a>
        <a class="btn btn-white" href="">Sign In</a>
    </div>
</div>

{% endblock %}