{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Mo bros{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% load activity_filters %}




{% block content %}
    {{ active_session.id }}
    <ul>
        {% for session in active_session %}
            <li>{{ session.id }}
                {{ session.date_created }}
                {{ session.active }}
                <div class="activity"><ul>{% for foo in session.activity.all %}
                    <li><br> {{ foo.name }} <br>
                        {{ foo.description }}</li></div>
                {% endfor %}
                </ul>
            </li><br>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'finalize_session' %}">
        {% csrf_token %}
        <button type="submit" class="finalize-session-btn">Finalize Session</button>
    </form>
{% endblock %}