/* === Google Fonts === */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&display=swap');

/* === CSS Variables === */

:root {
    --purple: #4E4FB9;
    --indigo: #627AD5;
    --gold: #FCB85F;
    --lilac: #FAEEF8;
    --white: #fff;
    --black: #333;
}

/* === CSS Reset === */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    padding-left: 33%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    display: inline-block;
    cursor: pointer;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 40vh; 
    width: 80vw;   
}

/* Styling for Registration Page */

.registration_page {
    min-height: 100vh;
    position: relative;
}

.registration_page::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 120vh;
    background-image: url('https://cdn.gradko.ovh/mobro/media/men_wellness_v2.jpg');
    filter: blur(13px);
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.registration_page .registration_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 8px;
    border-radius: 30px;
    background: var(--white);
    padding: 15px;
    opacity: 0.95;
    pointer-events: auto;
    z-index: 1;
    height: 110vh;
    width: 86vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 110%;
}

.logo {
    display: block;
    margin: auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 30%;
    max-height: 30%;
}

.registration_page .registration_area h2 {
    font-size: 25px;
    text-align: center;
    margin: 15px;
}

.registration_page .registration_area h3 {
    font-size: 17px;
    text-align: center;
    margin: 8px;
}

.registration_page .registration_area form input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.btn-container {
    display: flex;
    align-items: center;
    margin: 40px;
    justify-content: center;
    text-align: center;

}

button {
    border: none;
    display: inline-block;
    cursor: pointer;
}

.btn {
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out
}

.btn-purple {
    background-color: var(--purple);
    color: var(--white);
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
    background-color: var(--indigo);
}

.btn-white {
    background-color: var(--white);
    color: var(--purple);
    box-shadow: var(--box-shadow);
}

.btn-white:hover , .btn-white:focus, .btn-white:active {
    background-color: var(--gold);
    color: var(--white);
    margin: 40px;
    justify-content: center;
    text-align: center;

}

button {
    border: none;
    display: inline-block;
    cursor: pointer;
}

.btn {
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out
}

.btn-purple {
    background-color: var(--purple);
    color: var(--white);
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
    background-color: var(--indigo);
}

.btn-white {
    background-color: var(--white);
    color: var(--purple);
    box-shadow: var(--box-shadow);
}

.btn-white:hover , .btn-white:focus, .btn-white:active {
    background-color: var(--gold);
    color: var(--white);
}

#already {
    text-align: center;
}

/* Tablet Size */
@media (max-width: 700px) {
    .header-top {
        font-size: 3rem;
    }

    .header-bottom {
        font-size: 2rem;
    }

    .subheader {
        font-size: 1rem;
    }

    .btn-container {
        flex-direction: column;
        margin-top: 20px;
        width: 50%;
        gap: 20px;
    }
}

/* Phone Size */
@media (max-width: 500px) {

    .registration_page {
        max-height: 70%;
        width: 100%;
    }

    .registration_page .registration_area {
        max-height: 70%;
        width: 100%;
    }

    img{
        padding-left: 36%;  
    }

    .header-top {
        font-size: 1.75rem;
    }

    .header-bottom {
        font-size: 1.45rem;
    }

    .subheader {
        font-size: 0.75rem;
    }

    .btn-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 280px) {


    /* Registration Page*/
    .registration_page .registration_area {
        max-height:127%;
        width: 100%;
        display: flex;
        position: absolute;
        margin-top: 90px;
    }

    .registration_page .registration_area h2 {
        font-size: 20px;
        text-align: center;
        margin: 5px;
    }

    .registration_page .registration_area h3 {
        font-size: 17px;
        text-align: center;
        margin: -8px;
    }


    .btn {
        padding: 1rem 1rem;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
        transition: all 0.3s ease-in-out;
        justify-content: center;
        display: flex;
        position: absolute;
        margin-bottom: -8px;
        width: 150px;
        height: 40px;
        margin-top: 15px;
    }

    #already {
        padding-left: 52px;
    }

}