{% extends "base.html" %}
{% load static %}

{% block title %}Activities - Mo bros{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}



{% block content %}
    <div>
        <h2>Activities list</h2>
    </div>

    <div>
        Filters [Show all]
        {% for category in categories %}
{#            Use card target to show/hide different categories sections#}
            <span style="border:1px solid">{{ category }} card_target=category_id_{{ category.id }}</span>

        {% endfor %}
    </div>


    <div>

        <ul>
            {% for category in categories %}
                <div id="category_id_{{ category.id }}">
                    {% for activity in activity_list %}
                        {% if activity.categories.name == category.name %}
                            <li>
                                {{ activity.categories.name }}
                                {{ activity.name }}
                                {{ activity.reps }}
                                {{ activity.sets }}
                                {{ activity.description }}
                                {{ activity.timeframe }} {# /* Time object */#}
                                {{ activity.difficulty }} {# int min-max 0-5 #}
                                <a href="{% url 'edit_activity' activity_id=activity.id %}">EDIT</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </div>
            {% endfor %}
        </ul>
    </div>

{% endblock %}