{% extends 'base.html' %}
{% load static %}

{% block title %}Register - Mo bros{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

<!-- Registration page-->
<section class="registration_page">
    <div class="registration_area">
        <form method="post" class="registration">
            <img class="logo" src="https://cdn.gradko.ovh/mobro/media/logo.png" alt="Moustache Image" title="Image of Moustache">
            <h2>Choose your activities </h2>
            <h3>Physical</h3>
            <h3>Mental</h3>
            <h3>Social</h3>
            

            <h2>Sign Up</h2>
            {% csrf_token %}

    
            <div class="btn-container">
                <a class="btn btn-purple" href="{% url 'register' %}">Sign Up</a>
            </div>
                <p id="already">Already a user?</p>
            <div class="btn-container">
                <a class="btn btn-white" href="{% url 'sign_in' %}">Sign In</a>
            </div>
        </form>
        
        

        </div>

</section>


{% endblock %}