{% extends "base.html" %}
{% load static %}

{% block title %}Activities - Mo bros{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/activities.css' %}">
{% endblock %}


{% block content %}
    <div class="activities-page-container">
        <div class="activities-container">
            <img class="logo" src="https://cdn.gradko.ovh/mobro/media/logo.png" alt="">
            <div>
                <h2>Choose Your Activities</h2>
            </div>

            <div class="category-header-container">
                {% for category in categories %}
                    {#Use card target to show/hide different categories sections#}
                    {#card_target=category_id_{{ category.id }}#}
                    <span class="category-header">{{ category }}</span>
                {% endfor %}
            </div>


            <div>
                <ul>
                    {% for category in categories %}
                        <div class="activity-list" id="category_id_{{ category.id }}">
                            {% for activity in activity_list %}
                                {% if activity.categories.name == category.name %}
                                    <li class="activity-list-item">
                                        <div class="activity-info">
                                            <!-- {{ activity.categories.name }} -->
                                            <span class="activity-name">{{ activity.name }}</span>
                                            <span class="activity-desc">{{ activity.description }}</span>
                                        </div>
                                        <a href="{% url 'add_activity_to_session' activity_id=activity.id %}"><img src="https://cdn.gradko.ovh/mobro/media/plus-icon.png" alt="add activities icon"></a>
                                        <!-- {{ activity.reps }}
                                        {{ activity.sets }} -->
                                        <!-- {{ activity.timeframe }} {# /* Time object */#}
                                        {{ activity.difficulty }} {# int min-max 0-5 #} -->
                                        <!-- <!-- <a href="{% url 'edit_activity' activity_id=activity.id %}">EDIT</a> -->
                                        -->
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}