{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mo Bros - Men's Well-Being{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block style %}{% endblock %}

    {% block extra_js %}{% endblock %}
</head>
<body>
{% if request.user.is_authenticated %}
    <div class="navbar">
    <a href="/">Home</a>
    <a href="{% url 'activities' %}">Activities</a>


    <a href="{% url 'active_session' %}">Activity Session</a>


    <a href="{% url 'log_completed_activity' %}">Log Activity</a>
    <a href="/about">About</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endif %}
</div>
{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 25 %}
                    <div class="message">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% else %}
    <div class="message-container">
    </div>
{% endif %}



<div class="content">
    {% block content %}
        <!-- Main content goes here -->
    {% endblock content %}
</div>

<footer>
    <p>© 2023 Mo Bros - Promoting Men's Health & Well-Being</p>
</footer>
</body>
</html>